body {
  position: relative;
}

div.header {
  padding-bottom: 20px;
}

h2 {
  position: fixed;
  text-align: center;
  height: 50px;
  width: 100%;
  font-family: Domine;

}

div.content {
  margin: 30px;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}


h4 {
  text-align: center;
  font-family: Domine;
}

a {
  text-decoration: none;
  color: inherit;
}
