h2 {
  position: fixed;
  text-align: center;
  height: 50px;
  width: 100%;
  font-family: Domine;

}

h4 {
  text-align: center;
  font-family: Domine;
}

a {
  text-decoration: none;
  color: inherit;
}

div.header {
  padding-bottom: 20px;
}


div.content {
  margin: 30px;
  text-align: center;
}

div.madonna {
  max-width: 60%;
  height: auto;
}

.image {
  display: block;
  height: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}
