body {
  position: relative;
}

h1 {
  float: left;
  font-family: Domine;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}


li {
  list-style: none;
}
