body {
  display: flex;
  justify-content: center;
  margin: 0;
}

#content {
  position: relative;
}

.Sidebar {
  text-align: center;
  position: fixed;
  background-color: pink;
  height: 100%;
  width: 20%;
  flex-direction: column;
}

.img-list-container {
  width: 80%;
  float: right;
}

li {
  float: right;
  list-style: none;
  display: block;
  margin-top: 40px;
}

img {
  height: auto;
  max-width: 670px;
}
